<html>
	<head>
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>
	</head>
	{{ header }}{{ column_left }}
	<div id="content">
		<div class="page-header">
			<div class="container-fluid">
				<h1>{{ heading_title }}</h1>
				<ul class="breadcrumb">
					{% for breadcrumb in breadcrumbs %}
						<li>
							<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<table id="myTable" class="display">
			<thead>
				<tr>
					<th>{{text_visited_id}}</th>
					<th>{{text_url}}</th>
					<th>{{text_title}}</th>
					<th>{{text_date}}</th>
					<th>{{text_ip_address}}</th>
					<th>{{text_user_id}}</th>
					<th>{{text_nb_visite}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					{% for visited in topFifteen %}
						<td>
							{{visited.visited_id}}
						</td>
						<td>
							{{visited.url}}
						</td>
						<td>
							{{visited.title}}
						</td>
						<td>
							{{visited.date}}
						</td>
						<td>
							{{visited.ip_adresse}}
						</td>
						<td>
							{{visited.user_id}}
						</td>
						<td>
							{{visited.nb_visite}}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{{ footer }}
	</body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function () {
$('#myTable').DataTable({paging: false});
});
	</script>
</html>
